body {
	margin: 0px;
	background-image: url("background.jpg");
	background-color: white;
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

.center {
	padding: 100px;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: white;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.brand {
	color: white;
}

/* latin-ext */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v8/gNMHW3x8Qoy5_mf8uWMLMIqK_Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v8/gNMHW3x8Qoy5_mf8uWMFMIo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.name {
	font-family: Merienda;
	font-size: 5em;
	text-align: center;
	color: white;
}

.bio {
	padding-top: 10px;
	font-family: Merienda;
	font-size: 1.5em;
	text-align: center;
	color: white;
}
.buttons {
	display: flex;
	justify-content: space-between;
}
.button1 {
	text-align: center;
}



